  <div class="profile-card">
    <div class="profile-image">
      <img src="assets/ngtramavt.jpg" alt="Huynh Thi Ngoc Tram" />
    </div>
    <div class="profile-details">
      <h1 class="profile-name bungee-regular">Huỳnh Thị Ngọc Trâm</h1>
      <p class="profile-title">Developer & Researcher </p>
      <p class="profile-description">
        <span class="greeting">Hi</span>, my full name is Huỳnh Thị Ngọc Trâm. I come from Hồ Chí Minh City, Vietnam. I am a fourth-year Computer Science student at International University - HCMC. I have a strong passion for learning new things, especially those related to my field of study.
      </p>
    </div>
  </div>
  