<div class="contact-container">
    <h1 class="contact-title poppins-bold">Get in touch</h1>
    <p class="contact-description poppins-medium">
        Would you like to work together, or simply chat about a project? Don't hesitate to contact me.
    </p>
    <p class="contact-email">ngoctram.bie.u&#64;gmail.com</p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/ngoctram1713" target="_blank" rel="noopener noreferrer">
            <i class="ri-linkedin-box-fill"></i>
        </a>
        <a href="https://github.com/HTNT0117" target="_blank" rel="noopener noreferrer">
            <i class="ri-github-fill"></i>
        </a>
        <a href="https://www.facebook.com/your-profile" target="_blank" rel="noopener noreferrer">
            <i class="ri-facebook-circle-fill"></i>
        </a>
    </div>
    
    <form class="contact-form">
        <input type="text" placeholder="Your name" class="form-input" required>
        <input type="email" placeholder="Your e-mail" class="form-input" required>
        <textarea placeholder="What can I do for you?" class="form-input" required></textarea>
        <button type="submit" class="submit-button">Send →</button>
    </form>
</div>
