<div class="developer-container">
    <div class="greeting poppins-medium">
      👋 Hi! There, I’m Ngoc Tram,
    </div>
    <div class="title poppins-extrabold">
      DEVELOPER
    </div>
    <div class="sub-title poppins-extrabold">
      & RESEARCHER
    </div>
    <div class="description poppins-light">
      <p>I love exploring, researching, and learning new things. </p>
      <p>Just passionate about discovery and knowledge!</p>
    </div>
    <button class="cta-button poppins-bold" (click)="goToAbout()">About me</button>
  </div>
  