<div class="resume-container">
    <div class="grid-container">
        <div class="grid-left"> 
            <div class="education">            
                <h2 class="poppins-bold">EDUCATION</h2>
                <div class="content-wrapper poppins-regular">
                    <div class="star-container">
                        <i class="ri-gemini-fill large-star"></i>
                        <div class="dots">
                            <div *ngFor="let dot of [].constructor(7); let i = index" class="dot"></div>
                        </div>
                        <i class="ri-gemini-fill small-star"></i>
                    </div>
                    <div class="text-content">
                        <h3>2021 - now</h3>
                        <p>Computer Science at International University - HCMC</p>
                    </div>
                </div>
            </div>

            <div class="experience">
                <h2>EXPERIENCE</h2>
                <div class="content-wrapper">
                    <div class="star-container">
                        <i class="ri-gemini-fill large-star"></i>
                        <div class="dots">
                            <div *ngFor="let dot of [].constructor(105); let i = index" class="dot"></div>
                        </div>
                        <i class="ri-gemini-fill small-star"></i>
                    </div>
                    <div class="text-content">
                        <div class="job">
                            <h3>AIoT Lab VN</h3>
                            <p class="poppins-bold" style="padding-bottom: 15px; color: cornflowerblue;">2023 - Now</p>
                            <p class="poppins-regular">As a student of this lab, I focus on exploring artificial intelligence, particularly in natural language classification. Additionally, I contribute as a front-end developer on various lab projects.</p>
                        </div>
                        <div class="job">
                            <h3>VNPT INFORMATION TECHNOLOGY COMPANY</h3>
                            <p class="poppins-bold" style="padding-bottom: 15px; color: cornflowerblue;">7/2024 - 9/2024</p>
                            <p class="poppins-regular">During my internship at this company, I gained valuable experience in new technologies and enhanced my full-stack skills. I also learned about company culture and developed connections with team members.</p>
                        </div>
                        <div class="job">
                            <h3>Digiser</h3>
                            <p class="poppins-bold" style="padding-bottom: 15px; color: cornflowerblue;">6/2024 - 10/2024</p>
                            <p class="poppins-regular">This was an online internship where I gained new skills in front-end development. I had the opportunity to participate in a real-world project alongside fellow interns, which significantly enhanced my understanding of practical applications in the field. Additionally, I learned effective time management strategies to successfully complete tasks for this online role.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-right"> <!-- Right column -->
            <div class="technical-skills">
                <h2 class="poppins-bold">TECHNICAL SKILLS</h2>
                <div class="content-wrapper">
                    <div class="star-container">
                        <i class="ri-gemini-fill large-star"></i>
                        <div class="dots">
                            <div *ngFor="let dot of [].constructor(48); let i = index" class="dot"></div>
                        </div>
                        <i class="ri-gemini-fill small-star"></i>
                    </div>  
                    <div class="text-content">
                        <div class="grid-container-icon">
                            <div class="skill-item"><img src="assets/C.png" alt="C"></div>
                            <div class="skill-item"><img src="assets/cpp-68.png" alt="C++"></div>
                            <div class="skill-item"><img src="assets/Java.png" alt="Java"></div>
                            <div class="skill-item"><img src="assets/js.png" alt="JavaScript"></div>
                            <div class="skill-item"><img src="assets/csharp.png" alt="C#"></div>
                            <div class="skill-item"><img src="assets/python.png" alt="Python"></div>
                        </div>  
                        <div class="grid-container-icon">
                            <div class="skill-item"><img src="assets/reactJS.png" alt="ReactJS"></div>
                            <div class="skill-item"><img src="assets/node.png" alt="NodeJS"></div>
                            <div class="skill-item"><img src="assets/angulart.png" alt="Angular"></div>
                            <div class="skill-item"><img src="assets/django.png" alt="Django"></div>
                            <div class="skill-item"><img src="assets/logoimage.png" alt=".NET"></div>
                        </div>
                        <div class="grid-container-icon">
                            <div class="skill-item"><img src="assets/html.png" alt="HTML"></div>
                            <div class="skill-item"><img src="assets/Css.png" alt="CSS"></div>
                            <div class="skill-item"><img src="assets/Tailwind_CSS.png" alt="TailwindCSS"></div>
                            <div class="skill-item"><img src="assets/bootstrap.png" alt="Bootstrap"></div>
                            <div class="skill-item"><img src="assets/typescript.png" alt="TypeScript"></div>
                        </div>
                        <div class="grid-container-icon">
                            <div class="skill-item"><img src="assets/github.png" alt="Git"></div>
                            <div class="skill-item"><img src="assets/postman.png" alt="Postman"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="softskills">
                <h2>SOFT SKILLS</h2>
                <div class="content-wrapper">
                    <div class="star-container">
                        <i class="ri-gemini-fill large-star"></i>
                        <div class="dots">
                            <div *ngFor="let dot of [].constructor(28); let i = index" class="dot"></div>
                        </div>
                        <i class="ri-gemini-fill small-star"></i>
                    </div>
                    <div class="text-content">
                        <p class="poppins-medium" style="margin-top: 30px;"> ● Project Management </p>
                        <p class="poppins-medium" style="margin-top: 20px;"> ● Teamwork </p>
                        <p class="poppins-medium" style="margin-top: 20px;"> ● Effective Communication </p>
                        <p class="poppins-medium" style="margin-top: 20px;"> ● Problem-Solving </p>
                        <p class="poppins-medium" style="margin-top: 20px;"> ● Critical Thinking </p>
                        <p class="poppins-medium" style="margin-top: 20px;"> ● Creativity </p>
                    </div>
                </div>
            </div>

            <div class="language">
                <h2>LANGUAGE</h2>
                <div class="content-wrapper">
                    <div class="star-container">
                        <i class="ri-gemini-fill large-star"></i>
                        <i class="ri-gemini-fill small-star"></i>
                    </div>
                    <div class="text-content">
                        <p class="poppins-medium" style="margin-top: 30px;"> ● English - 6.0 UWE Bristol Test </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
